<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Awesome Ink Project</title>
  <link rel="stylesheet" href="../bower_components/ink/css/ink.css">

  <!--[if IE 7]>
    <link rel="stylesheet" href="../bower_components/ink/css/ink-ie7.css">
  <![endif]-->
</head>
<body>
  <div class="ink-grid">
    <nav class="ink-navigation">
      <ul class="menu horizontal black rounded shadowed">
        <li><a href="#">Home</a></li>
        <li><a href="#">Item</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>

    <div class="column-group half-gutters">
      <div class="large-100 medium-100 small-100">
        <h3>My Awesome Ink Project</h3>
      </div>

      <div class="large-60 medium-60 small-100">
        <img src="http://placehold.it/600x600" class="large-100 medium-100 small-100">
      </div>
      <nav class="ink-navigation large-40 medium-40 small-100">
        <ul class="menu vertical grey rounded shadowed">
          <li><a href="#">Welcome</a></li>
          <li><a href="#">Xmas Promotions</a></li>
          <li><a href="#">Free coupon</a></li>
          <li><a href="#">Get the catalogue</a></li>
          <li><a href="#">Enter to win!</a></li>
        </ul>
      </nav>
    </div>

    <div class="column-group half-gutters vspace">
      <div class="large-20 medium-20 small-100">
        <h6><i class="icon-star icon-large"></i> Better</h6>
        <p>This is our better product line ever, because it's much better than before.</p>
      </div>
      <div class="large-20 medium-20 small-100">
        <h6><i class="icon-dashboard icon-large"></i> Faster</h6>
        <p>Our new service is faster than it used to be and that's good because faster is better.</p>
      </div>
      <div class="large-20 medium-20 small-100">
        <h6><i class="icon-truck icon-large"></i> Harder</h6>
        <p>Our service line is harder and heavier but not in a bad way. It's actually in a good way.</p>
      </div>
      <div class="large-20 medium-20 small-100">
        <h6><i class="icon-key icon-large"></i> Safer</h6>
        <p>Instead of huge, horrible security holes, we now offer secure servers and passwords and stuff.</p>
      </div>
      <div class="large-20 medium-20 small-100">
        <h6><i class="icon-gift icon-large"></i> Updated</h6>
        <p>Have we mentioned this is new? Because it's new, it's better, because studies show that.</p>
      </div>
    </div>
    <footer>
      <nav class="ink-navigation hspace">
        <ul class="menu horizontal hide-small">
          <li><a href="">FAQ</a></li>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Github repo</a></li>
          <li><a href="">Legal</a></li>
        </ul>
        <ul class="menu vertical hide-all show-small">
          <li><a href="">FAQ</a></li>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Github repo</a></li>
          <li><a href="">Legal</a></li>
        </ul>
      </nav>
    </footer>
  </div>
  <script type="text/javascript" src="../bower_components/ink/js/ink.js"></script>
</body>
</html>
